.plans-card{
    background: #00aaff33;
    
}
.plans-card:hover{
    transform: scale(1.1);
}
.plans-titulo{
    color: var(--clr-primary);
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}
.plans-card-titulo{
    border-bottom: 1px solid #00A9FF;
    color: var(--clr-primary);
    font-size: 2em;
    text-align: center;
}

.plans-preco{
    color: var(--clr-primary);
    font-size: 3.5em;
    text-align: center;
    
}
