.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-color: var(--clr-bg) !important;
}
.card-missao{
  font-size: 2em !important;
  margin: 15px !important;
  padding: 10px !important;
  color: whitesmoke;
  vertical-align: middle !important;
  text-align: center !important;
  box-shadow: var(--shadow) !important;
  border-radius: 5px !important;
  display: table !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  background-image: url(/src/Assets/card5.jpg) !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5) !important;

}
.card-valores{
  font-size: 2em !important;
  margin: 15px !important;
  padding: 10px !important;
  color: whitesmoke;
  vertical-align: middle !important;
  text-align: center !important;
  box-shadow: var(--shadow) !important;
  border-radius: 5px !important;
  display: table !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  background-image: url(/src/Assets/card4.jpg) !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5) !important;

  
  
}
.tech-icons-image{
  width: 50%;
  margin-bottom: 20px;
  
}
.quote-card-view {
  background: transparent !important;
  border: none !important;
  box-shadow: var(--shadow);
  color: #fff;
}

.sobre{
  color: var(--clr-primary);
  font-size: 3em;
  text-align: center;
  
}
#paragrafo{
  color: #208adb;
  font-size: 1.7em;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.card-missao:hover {
  transform: scale(1.08) !important;
  overflow: hidden !important;
}
.card-valores:hover{
  transform: scale(1.08) !important;
  overflow: hidden !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
.primary-header {
  color: var(--clr-primary) !important;
}
.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}
